In [4]:
from pandas import DataFrame
d = DataFrame(index=[(i,j) for i in range(1,7) for j in range(1,7)],
              columns=['sm','d1','d2','pd1','p'])

d.d1 = [i[0] for i in d.index]
d.d2 = [i[1] for i in d.index]
d.sm = map(sum, d.index)
d.head(5)

                                        sm  d1  d2  pd1    p
(1, 1)  <map object at 0x00000184E36DCCC8>   1   1  NaN  NaN
(1, 2)  <map object at 0x00000184E36DCCC8>   1   2  NaN  NaN
(1, 3)  <map object at 0x00000184E36DCCC8>   1   3  NaN  NaN
(1, 4)  <map object at 0x00000184E36DCCC8>   1   4  NaN  NaN
(1, 5)  <map object at 0x00000184E36DCCC8>   1   5  NaN  NaN