In [45]:
from pandas import DataFrame
d=DataFrame(index=[(i,j) for i in range(1,7) for j in range(1,7)],
            columns=['sm','d1','d2','pd1','pd2','p'])
d.d1 = [i[0] for i in d.index]
d.d2 = [i[1] for i in d.index]
d.sm= map(sum,d.index)
d.head(5)

                                        sm  d1  d2  pd1  pd2    p
(1, 1)  <map object at 0x000001DE77909588>   1   1  NaN  NaN  NaN
(1, 2)  <map object at 0x000001DE77909588>   1   2  NaN  NaN  NaN
(1, 3)  <map object at 0x000001DE77909588>   1   3  NaN  NaN  NaN
(1, 4)  <map object at 0x000001DE77909588>   1   4  NaN  NaN  NaN
(1, 5)  <map object at 0x000001DE77909588>   1   5  NaN  NaN  NaN

In [46]:
d.loc[d.d1 <=3, 'pd1'] = 1/9.
d.loc[d.d1 > 3, 'pd1'] = 2/9.
d.pd2 = 1/6.
d.head(10)

                                        sm  d1  d2       pd1       pd2    p
(1, 1)  <map object at 0x000001DE77909588>   1   1  0.111111  0.166667  NaN
(1, 2)  <map object at 0x000001DE77909588>   1   2  0.111111  0.166667  NaN
(1, 3)  <map object at 0x000001DE77909588>   1   3  0.111111  0.166667  NaN
(1, 4)  <map object at 0x000001DE77909588>   1   4  0.111111  0.166667  NaN
(1, 5)  <map object at 0x000001DE77909588>   1   5  0.111111  0.166667  NaN
(1, 6)  <map object at 0x000001DE77909588>   1   6  0.111111  0.166667  NaN
(2, 1)  <map object at 0x000001DE77909588>   2   1  0.111111  0.166667  NaN
(2, 2)  <map object at 0x000001DE77909588>   2   2  0.111111  0.166667  NaN
(2, 3)  <map object at 0x000001DE77909588>   2   3  0.111111  0.166667  NaN
(2, 4)  <map object at 0x000001DE77909588>   2   4  0.111111  0.166667  NaN

In [47]:
d.p = d.pd1 * d.pd2
d.head(5)

,sm,d1,d2,pd1,pd2,p
"(1, 1)",<map object at 0x000001DE77909588>,1,1,0.111111,0.166667,0.0185185
"(1, 2)",<map object at 0x000001DE77909588>,1,2,0.111111,0.166667,0.0185185
"(1, 3)",<map object at 0x000001DE77909588>,1,3,0.111111,0.166667,0.0185185
"(1, 4)",<map object at 0x000001DE77909588>,1,4,0.111111,0.166667,0.0185185
"(1, 5)",<map object at 0x000001DE77909588>,1,5,0.111111,0.166667,0.0185185

In [52]:
d.p.sum()

0.9999999999999991